

body {
	background-image: url('inception5.jpg');
	background-size: cover;
	display: flex;
}	

#container {
	align-content: center;
}

.letter {
	width: 100px;
	margin-top: 25px;
}



#I-1:hover {
	background-position: 0 0;
	animation-name: fall;
	animation-duration: 1s;
}

#N-1:hover {
	animation-name: fall;
	animation-duration: 1s;
}

#C:hover {
	animation-name: fall;
	animation-duration: 1s;
}

#E:hover {
	animation-name: fall;
	animation-duration: 1s;
}

#P:hover {
	animation-name: fall;
	animation-duration: 1s;
}

#T:hover {
	animation-name: fall;
	animation-duration: 1s;
}

#I-2:hover {
	animation-name: fall;
	animation-duration: 1s;
}

#O:hover {
	animation-name: fall;
	animation-duration: 1s;
}

#N-2:hover {
	animation-name: fall;
	animation-duration: 1s;
}
@keyframes fall {
        0% {transform: translate(0px, 0px);}
        100% {transform: translate(0px, 500px);}
      }