
    body {
		  margin: 0;
		  height: 100vh;
		  display: flex;
		  align-items: center;
		}

	#frame {
		  width: 1960px;
		  height: 400px;
		  margin: auto;
		  display: flex;
		  flex-shrink: 0;
		  justify-content: space-evenly;
		}

	canvas {
		background-color: #9CCADC;
  		width: 400px;
  		height: 600px;
		}